name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Login to the Container Registry  
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.ACR_LOGIN_SERVER }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
    - name: Build the Docker image
      run: docker build . --file Dockerfile -t ${{ secrets.ACR_LOGIN_SERVER }}/my-image-name:${{ github.run_number }}
      
    - name: Scan image
      uses: Azure/container-scan@v0
      with:
        image-name: ${{ secrets.ACR_LOGIN_SERVER }}/my-image-name:${{ github.run_number }}
        severity-threshold: CRITICAL
        run-quality-checks: False     
    - name: Push image
      run: |
        docker push ${{ secrets.ACR_LOGIN_SERVER }}/my-image-name:${{ github.run_number }}
